---
import PageHeading from "../../components/page-heading.astro";
import Layout from "../../layouts/main.astro";
---

<Layout title="Icon Licenses - Bangla Web Fonts">
  <section class="relative z-20 max-w-3xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="Icon Licenses"
      description="Learn more about the icons listed on banglawebfonts.pages.dev and what type of licensing terms they are under. See the differences between different licenses and learn the terms of use on your projects."
    />


<h2 class="text-2xl mt-4 font-bold"><a id="PD"></a><a class="block min-h-[65px]" id="CC0"></a>Public Domain</h2>
<p class="mt-1"><em>(As visual work) This license also might be referred as No copyright or CC0 1.0 Universal PD Dedication on our website.</em></p>
<p class="mt-1">The person who associated a work with this deed has dedicated the work to the public domain by waiving all of his or her rights to the work worldwide under copyright law, including all related and neighboring rights, to the extent allowed by law.</p>
<p class="mt-1">Or, the work consists of simple geometry and is not ineligable for copyright due to Threshold of originality (this threshold might vary depending on different country laws). For an example "A stick figure, where the head is represented by a circle and other parts represented by straight lines" is not copyrightable or falls into public domain.</p>
<p class="mt-1">You are free:</p>
<ul>
<li><strong>to share</strong> – to copy, distribute and transmit the work</li>
<li><strong>to remix</strong> – to adapt the work</li>
</ul>
<p class="mt-1">Under the following terms:</p>
<ul>
<li><strong>attribution</strong> – there is no author or author waived their right, no attribution</li>
<li><strong>share alike</strong> – If you remix, transform, or build upon the material, you can distribute your work under any license.</li>
</ul>
<p class="mt-1">Unless in the single pages of icons indexed on this website indicates differently, simple icons distributed on this website is subject to public domain or open source.</p>
<p class="mt-1">To learn more about this license, <a class="text-blue-600 hover:underline" href="https://creativecommons.org/publicdomain/zero/1.0/deed.en">check out this page</a>.</p>




<h2 class="text-2xl mt-20 font-bold">Open Source</h2>
<p class="mt-1"><em>(As source code or software) This license also might be referred (specifically) as MIT or GNU GPL on our website.</em></p>
<p class="mt-1">Some SVG files distributed on this website are licensed by their source code, and this licenses will indicate the terms of use. Open Source can be defined as, in brief, allowing software to be freely used (including commercially), modified, and shared</p>

<h3 class="text-xl font-medium"><a class="block min-h-[65px]" id="MIT"></a>MIT License</h3>
<p class="mt-1">You are free:</p>
<ul>
<li><strong>to share</strong> – to copy, distribute and transmit the work</li>
<li><strong>to remix</strong> – to adapt the work</li>
</ul>
<p class="mt-1">Under the following terms:</p>
<ul>
<li><strong>liability</strong> – the author doesn't provide any warranty and doesn't accepts any liability</li>
<li><strong>copyright notice</strong> – a copy of the license or copyright notice must be included with software</li>
<li><strong>share alike</strong> – If you remix, transform, or build upon the material, you can distribute your work under any license</li>
</ul>

<h3 class="text-xl font-medium"><a class="block min-h-[65px]" id="GPL"></a>GNU General Public License</h3>
<p class="mt-1">You are free:</p>
<ul>
<li><strong>to share</strong> – to copy, distribute and transmit the work</li>
<li><strong>to remix</strong> – to adapt the work</li>
</ul>
<p class="mt-1">Under the following terms:</p>
<ul>
<li><strong>liability</strong> – the author doesn't provide any warranty and doesn't accepts any liability</li>
<li><strong>copyright notice</strong> – a copy of the license or copyright notice must be included with software</li>
<li><strong>documentation</strong> – If you remix, transform, or build upon the material, changes must be documented.</li>
<li><strong>share alike</strong> – If you remix, transform, or build upon the material, you can't distribute your work with a closed source license</li>
</ul>

<h3 class="text-xl font-medium"><a class="block min-h-[65px]" id="Apache"></a>Apache License</h3>
<p class="mt-1">You are free:</p>
<ul>
<li><strong>to share</strong> – to copy, distribute and transmit the work</li>
<li><strong>to remix</strong> – to adapt the work</li>
</ul>
<p class="mt-1">Under the following terms:</p>
<ul>
<li><strong>liability</strong> – the author doesn't provide any warranty and doesn't accepts any liability</li>
<li><strong>copyright notice</strong> – a copy of the license or copyright notice must be included with software</li>
<li><strong>trademark use</strong> – does not grand trademark rights.</li>
</ul>

<h3 class="text-xl font-medium"><a class="block min-h-[65px]" id="MPL"></a>Mozilla Public License</h3>
<p class="mt-1">You are free:</p>
<ul>
<li><strong>to share</strong> – to copy, distribute and transmit the work</li>
<li><strong>to remix</strong> – to adapt the work</li>
</ul>
<p class="mt-1">Under the following terms:</p>
<ul>
<li><strong>liability</strong> – the author doesn't provide any warranty and doesn't accepts any liability</li>
<li><strong>copyright notice</strong> – a copy of the license or copyright notice must be included with software</li>
<li><strong>trademark use</strong> – does not grand trademark rights.</li>
<li><strong>share alike</strong> – If you remix, transform, or build upon the material, you have to distribute your work with Mozilla Public License</li>
</ul>

<h3 class="text-xl font-medium"><a class="block min-h-[65px]" id="OFL"></a>SIL Open Font License</h3>
<p class="mt-1"><em>(As source code of a font file) Artwork or content derived from fonts as SVG in order to list in this website.</em></p>
<p class="mt-1">You are free:</p>
<ul>
<li><strong>to share</strong> – to copy, distribute and transmit the work</li>
<li><strong>to remix</strong> – to adapt the work</li>
</ul>
<p class="mt-1">Under the following terms:</p>
<ul>
<li><strong>liability</strong> – the author doesn't provide any warranty and doesn't accepts any liability</li>
<li><strong>copyright notice</strong> – a copy of the license or copyright notice must be included with software</li>
<li><strong>trademark use</strong> – does not grand trademark rights.</li>
</ul>
<p class="mt-4">To learn more about this license, check out <a class="text-blue-600 hover:underline" href="https://choosealicense.com/licenses/mit/">MIT</a>, <a class="text-blue-600 hover:underline" href="https://choosealicense.com/licenses/gpl-3.0/">GNU GPL</a>, <a class="text-blue-600 hover:underline" href="https://choosealicense.com/licenses/apache-2.0/">Apache</a>, <a class="text-blue-600 hover:underline" href="https://choosealicense.com/licenses/mpl-2.0/">MLP</a> and <a class="text-blue-600 hover:underline" href="https://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&amp;id=OFL">OFL</a> webpages.</p>




<h2 class="text-2xl mt-20 font-bold">Creative Commons</h2>
<p class="mt-1"><em>(As any creative work) This license also might be referred as CC abbreviation on our website.</em></p>
<p class="mt-1">For Icons licensed with Creative Commons you can copy and redistribute the material in any medium or format with the terms of giving appropriate credit and provide a link to the license. The terms may vary depending on types.</p>

<h3 class="text-xl font-medium"><a class="block min-h-[65px]" id="CC%20BY"></a>Attribution CC BY</h3>
<p class="mt-1">You are free:</p>
<ul>
<li><strong>to share</strong> – to copy, distribute and transmit the work</li>
<li><strong>to remix</strong> – to adapt the work</li>
</ul>
<p class="mt-1">Under the following terms:</p>
<ul>
<li><strong>attribution</strong> – you must give appropriate credit, provide a link to the license, and indicate if changes were made</li>
</ul>

<h3 class="text-xl font-medium"><a class="block min-h-[65px]" id="CC%20BY-SA"></a>Attribution ShareAlike CC BY-SA</h3>
<p class="mt-1">You are free:</p>
<ul>
<li><strong>to share</strong> – to copy, distribute and transmit the work</li>
<li><strong>to remix</strong> – to adapt the work</li>
</ul>
<p class="mt-1">Under the following terms:</p>
<ul>
<li><strong>attribution</strong> – you must give appropriate credit, provide a link to the license, and indicate if changes were made</li>
<li><strong>share alike</strong> – If you remix, transform, or build upon the material, you must distribute under same license</li>
</ul>

<h3 class="text-xl font-medium"><a class="block min-h-[65px]" id="CC%20BY-NC"></a>Attribution-NonCommercial CC BY-NC</h3>
<p class="mt-1">You are free:</p>
<ul>
<li><strong>to share</strong> – to copy, distribute and transmit the work</li>
<li><strong>to remix</strong> – to adapt the work</li>
</ul>
<p class="mt-1">Under the following terms:</p>
<ul>
<li><strong>attribution</strong> – you must give appropriate credit, provide a link to the license, and indicate if changes were made</li>
<li><strong>non commercial</strong> – you may not use the material for commercial purposes</li>
</ul>
<p class="mt-1">You do not have to comply with the license for elements of the material in the public domain or where your use is permitted by an applicable exception or limitation.</p>
<p class="mt-4">To learn more about this license and variations, check out <a class="text-blue-600 hover:underline" href="https://creativecommons.org">creativecommons.org</a> website.</p>





<h2 class="text-2xl mt-4 font-bold"><a class="block min-h-[65px]" id="Logo"></a>Logo License</h2>
<p class="mt-1"><em>(As visual work) Varying definition</em></p>
<p class="mt-1">Artworks listed as Logo license can be only used with varying limitations from the copyright holder. In order to use the logo of the company "Apple" in their work, user needs to research the appropriate way of and rules of the company.</p>
<p class="mt-1">You are free:</p>
<ul>
<li><strong>to share</strong> – to copy, distribute and transmit the work</li>
</ul>
<p class="mt-1">Under the following terms:</p>
<ul>
<li><strong>to remix</strong> – you can't remix or change it for any use in an unintended way.</li>
<li><strong>liability</strong> – the author doesn't provide any warranty and doesn't accepts any liability</li>
<li><strong>trademark use</strong> – does not grand trademark rights.</li>
<li><strong>varying terms</strong> – terms of the license can change per company or author basis, user have to research additional terms.</li>
</ul>



<h2 class="text-2xl mt-4 font-bold"><a class="block min-h-[65px]" id="modification"></a>About modification and optimization of original icons</h2>
<p class="mt-1">All icons showcased on banglawebfonts.pages.dev/icons are carefully optimized and slightly modified to ensure better performance, visual consistency, and a smaller file size across the site.
<br/>
Modifications include tweaks like adjusting strokes, refining shapes, and fine-tuning colors to create a cohesive and unified icon system. These changes help maintain a consistent design language throughout Bangla Web Fonts while respecting the original license terms and crediting the original creators wherever applicable.
<br/>
Whether the icons are public domain, MIT-licensed, or under Creative Commons, we’ve made sure they are lightweight, accessible, and web-friendly — without compromising the original intent of the designers.</p>




  </section>
</Layout>
