@tailwind base;
@tailwind components;
@tailwind utilities;

.visible-animationX {
  opacity: 0.9;
  transform: translateY(5px);
  animation: fadeInUp 0.5s forwards;
  animation-delay: 0.5s;
}

@keyframes fadeInUp {
  from {
    opacity: 0.9;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* Hide in IE/Edge */
  scrollbar-width: none;  /* Hide in Firefox */
}

.gylph-container li {
  text-align: center;
  padding: 20px 20px;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.dark .gylph-container li {
  border: 0.5px solid rgba(255, 255, 255, 0.1);
}

.gylph-container li:hover {
  border:-1px inset;
  background-color:#000000;
  color:#ffffff;
}

.dark .gylph-container li:hover {
  border:-1px inset;
  background-color:#ffffff;
  color:#000000;
}

.prose img {
  border-radius: 30px;
}

#sun {
  transform: translate3d(0, 0px, 0);
}

#moon {
  transform: translate3d(0, 0px, 0);
}

#darkToggle:hover #sun {
  transform: translate3d(0, 2px, 0);
}

#darkToggle:hover #moon {
  transform: translate3d(0, 2px, 0);
}

#darkToggle:hover .horizon {
  border-color: transparent!important;
}

html.dark {
    color-scheme: dark;
}

.horizon .setting {
  animation: 1s ease 0s 1 setting;
}

.horizon .rising {
  animation: 1s ease 0s 1 rising;
}

@keyframes setting {
  0% {
    transform: translate3d(0, 10px, 0)
  }

  40% {
    transform: translate3d(0, -2px, 0)
  }

  to {
    transform: translate3d(0, 30px, 0)
  }
}

@keyframes rising {
  0% {
    opacity: 0;
    transform: translate3d(0, 10px, 0)
  }

  40% {
    opacity: 1;
    transform: translate3d(0, -2px, 0)
  }

  to {
    opacity: 1;
    transform: translate3d(0, 10px, 0)
  }
}