---
import PageHeading from "../components/page-heading.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="Contact - Bangla Web Fonts">
  <section class="relative z-20 max-w-3xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="Contact"
      description="If you have any questions, feedback, complain or suggestions regarding <strong>Bangla Web Fonts</strong>, feel free to reach out."
    />


  <ul class="mt-4">
    <li>Email: 
      <a href="mailto:contact.shihab1246@gmail.com" class="text-indigo-600 hover:underline">contact.shihab1246@gmail.com</a>
    </li>
    <li>Facebook: 
      <a href="https://facebook.com/fuadhasan.shihab" target="_blank" class="text-indigo-600 hover:underline">facebook.com/fuadhasan.shihab</a>
    </li>
    <li>Instagram: 
      <a href="https://instagram.com/fuadhasan_shihab" target="_blank" class="text-indigo-600 hover:underline">instagram.com/fuadhasan_shihab</a>
    </li>
    <li>GitHub: 
      <a href="https://github.com/fuadhasanshihab" target="_blank" class="text-indigo-600 hover:underline">github.com/fuadhasanshihab</a>
    </li>
  </ul>

  <div class="mt-10 pt-10 border-t border-gray-300">
    <p>
      You can also:
    </p>
    <ul class="list-disc list-inside mt-4">
      <li>
        Report issues or bugs via  
        <a href="https://github.com/fuadhasanshihab/bangla-web-fonts/issues" class="text-indigo-600 hover:underline">GitHub Issues</a>.
      </li>
      <li>
        Suggest new fonts or features by  
        <a href="https://github.com/fuadhasanshihab/bangla-web-fonts/issues" class="text-indigo-600 hover:underline">opening a feature request</a>.
      </li>
      <li>
        Submit  
        <a href="https://github.com/fuadhasanshihab/bangla-web-fonts/pulls" class="text-indigo-600 hover:underline">Pull Requests</a>  
        to improve the project.
      </li>
    </ul>
    <p class="mt-10 pt-10 border-t border-gray-300">
      Visit GitHub repository:  
      <a href="https://github.com/fuadhasanshihab/bangla-web-fonts" class="text-indigo-600 font-medium hover:underline">github.com/fuadhasanshihab/bangla-web-fonts</a>
    </p>
  </div>



  </section>
</Layout>