---
import icons from "../collections/icons.json";
import IconCard from "../components/icon-card.astro";
import Layout from "../layouts/main.astro";
import PageHeading from "../components/page-heading.astro";

const IconsKeywords = icons.map(icon => icon.IconName.toLowerCase()).join(', ');
const MetaKeywords = `bangla svg icons, bangla icons, free bangla logo, ${IconsKeywords}, bangla icons for website, bangla svg, copy paste bangla svg, free bangla icon, bengali web text, bengali material icon, bangla ui, free bangla svg, deshi svg icon`;
---

<Layout title="Bangla Icons" metaDescription="Explore a collection of Bangla-themed SVG icons, available in single-color and multi-color styles, with easily copyable SVG code." metaKeywords={MetaKeywords}>
  <section class="relative z-20 max-w-3xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="Icons"
      description=""
    />

<section class="max-w-3xl my-12 mx-auto">
  <div
    class="grid items-stretch w-full grid-cols-2 sm:grid-cols-4 xl:grid-cols-6 gap-7 mt-7"
  >
    {
      icons.map((icon) => {
        return (
          <IconCard
            IconName={icon.IconName}
            IconPath={icon.IconPath}
          />
        )
      })
    }
  </div>
</section>

</section>
</Layout>
