---
import PageHeading from "../components/page-heading.astro";
import IndexCard from "../components/index-card.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="Tools - Bangla Web Fonts" metaDescription="Explore a range of tools on Bangla Web Fonts, including Unicode encoding/decoding, font comparison, Bangla spell checker and more for seamless Bangla web development." metaKeywords="bangla web fonts, unicode tool, font comparison, bangla spell checker, online tools, web development tools, bangla font tools, bangla web development">
  <section class="relative z-20 max-w-3xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="Tools"
      description=""
    />


<div class="max-w-3xl my-12 mx-auto">
  <div
    class="grid items-stretch w-full grid-cols-1 sm:grid-cols-2 xl:grid-cols-2 gap-7 mt-7"
  >






    <IndexCard CardName="Font Comparison Tool" CardDescription="Compare two Bangla fonts side-by-side with different weights and styles." CardPath="tool/font-comparison"/>

<IndexCard CardName="Unicode Encoder/Decoder Tool" CardDescription="Encode and decode text to Unicode or Unicode to text." CardPath="tool/unicode-encode-decode"/>

<IndexCard CardName="Bangla Spell Checker" CardDescription="Check and correct Bangla spelling instantly." CardPath="tool/bangla-spell-checker"/>

        
  </div>
</div>


</section>
</Layout>