---
import PageHeading from "../../components/page-heading.astro";
import Layout from "../../layouts/main.astro";
---

<Layout title="Bangla Font Comparison Tool - Bangla Web Fonts" metaDescription="Easily compare two Bangla fonts side-by-side with different weights and styles. Test custom text and explore font design options in one place." metaKeywords="bangla font comparison, bangla web fonts, compare bangla fonts, bengali font tester, bangla typography tool, bangla font preview, বাংলা ফন্ট তুলনা, বাংলা ফন্ট, bangla fonts, bangla web fonts, bengali font tester">
  <section class="relative z-20 max-w-3xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="Font Comparison Tool"
      description=""
    />

     



      <div class="mt-8">
        <label for="sampleText" class="block font-medium mb-2">Sample Text</label>
        <textarea
          id="sampleText"
          rows="2"
          class="w-full p-4 border border-gray-300 dark:border-gray-700 rounded-xl hover:shadow-sm bg-white dark:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-blue-500 dark:focus:ring-blue-400"
        >মোদের গরব, মোদের আশা, আ-মরি বাংলা ভাষা!</textarea>
      </div>



      
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 mt-8">
        <div>
          <label for="fontA" class="block font-medium mb-2">Font A</label>
          <select
            id="fontA"
            class="w-full px-4 py-3 border border-gray-300 dark:border-gray-700 rounded-xl bg-white dark:bg-gray-800 hover:shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 dark:focus:ring-blue-400"
          ></select>
        </div>
        <div>
          <label for="fontB" class="block font-medium mb-2">Font B</label>
          <select
            id="fontB"
            class="w-full px-4 py-3 border border-gray-300 dark:border-gray-700 rounded-xl bg-white dark:bg-gray-800 hover:shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 dark:focus:ring-blue-400"
          ></select>
        </div>
      </div>




      <div id="comparison" class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-10"></div>

    <script src="../../assets/js/font-comparison.js"></script>

</section>
</Layout>
  
