---
const { fontFamily } = Astro.props;
---

<div class="mt-2 gylph-container flex flex-wrap notranslate">
<ul style={`font-family: ${fontFamily}!important;`} class="w-full grid gap-0 grid-cols-5 sm:grid-cols-7 md:grid-cols-10 text-2xl md:text-2xl p-0 list-none">
<li>অ</li>
<li>আ</li>
<li>ই</li>
<li>ঈ</li>
<li>উ</li>
<li>ঊ</li>
<li>ঋ</li>
<li>এ</li>
<li>ঐ</li>
<li>ও</li>
<li>ঔ</li>
<li>ক</li>
<li>খ</li>
<li>গ</li>
<li>ঘ</li>
<li>ঙ</li>
<li>চ</li>
<li>ছ</li>
<li>জ</li>
<li>ঝ</li>
<li>ঞ</li>
<li>ট</li>
<li>ঠ</li>
<li>ড</li>
<li>ঢ</li>
<li>ণ</li>
<li>ত</li>
<li>থ</li>
<li>দ</li>
<li>ধ</li>
<li>ন</li>
<li>প</li>
<li>ফ</li>
<li>ব</li>
<li>ভ</li>
<li>ম</li>
<li>য</li>
<li>র</li>
<li>ল</li>
<li>শ</li>
<li>ষ</li>
<li>স</li>
<li>হ</li>
<li>ড়</li>
<li>ঢ়</li>
<li>য়</li>
<li>ৎ</li>
<li>ং</li>
<li>ঃ</li>
<li>ঁ</li>
<li>া</li>
<li>ি</li>
<li>ী</li>
<li>ু</li>
<li>ূ</li>
<li>ৃ</li>
<li>ে</li>
<li>ৈ</li>
<li>ো</li>
<li>ৌ</li>
<li>০</li>
<li>১</li>
<li>২</li>
<li>৩</li>
<li>৪</li>
<li>৫</li>
<li>৬</li>
<li>৭</li>
<li>৮</li>
<li>৯</li>
</ul>
</div>