---
const { id, code } = Astro.props;
---

<div class="mt-2 relative bg-gray-900 text-white p-4 rounded-xl border border-gray-800"> 
  <button class="absolute bottom-4 right-4 bg-gray-800 hover:bg-gray-700 text-sm px-3 py-1 rounded-full border border-gray-700 transition-opacity" onclick={`copy('${id}', this)`}>Copy</button> 
  <pre id={id} class="whitespace-pre-wrap break-words text-sm mb-10 scrollbar-hide"><code>{code}</code></pre> 
</div>
