<label for="previewText" class="sr-only">Write font preview text</label>
<input id="previewText" type="text" placeholder="Type here to preview text" class="mt-10 w-full border border-gray-300 dark:border-gray-800 bg-transparent rounded-xl px-3 py-3 focus:outline-none focus:ring-1 focus:ring-gray-400">
<div class="flex items-center justify-between mt-4">
  <div class="relative w-28 mr-4">
    <label for="fontSizeDropdown" class="sr-only">Font size dropdown</label>
    <select id="fontSizeDropdown" class="w-full border border-gray-300 dark:border-gray-800 rounded-xl px-3 py-1 bg-transparent appearance-none text-md focus:outline-none focus:ring-1 focus:ring-gray-400">
      <option value="16">16px</option>
      <option value="24">24px</option>
      <option value="32" selected>32px</option>
      <option value="40">40px</option>
      <option value="48">48px</option>
      <option value="64">64px</option>
      <option hidden value="custom">Custom</option>
    </select>
    <span class="absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-500 pointer-events-none">▼</span>
  </div>
  <label for="fontSizeSlider" class="sr-only">Font size slider</label>
  <input id="fontSizeSlider" type="range" min="8" max="64" step="1" value="32" class="w-2/3 h-1 md:h-2 bg-gray-200 dark:bg-gray-800 rounded-lg appearance-none cursor-pointer">
  <button id="italicToggle" class="border border-gray-300 dark:border-gray-800 rounded-xl px-3 py-1 bg-transparent text-black dark:text-white text-md ml-4 transition">Italic</button>
</div>
<hr class="mt-6 border-gray-300 dark:border-gray-800">